<launch>
  <!-- Single-scene LiDAR-camera calibration. -->
  <arg name="rviz" default="true" />
  <arg name="config_file" default="$(find fast_calib)/config/qr_params.yaml" />
  <arg name="bag_path" default="" />
  <arg name="image_path" default="" />
  <arg name="lidar_topic" default="" />
  <arg name="lidar_forward_axis" default="" />
  <arg name="lidar_up_axis" default="" />
  <arg name="output_path" default="" />
  <arg name="use_auto_lidar_roi" default="" />

  <rosparam file="$(arg config_file)" command="load" subst_value="true" />

  <!-- Non-empty launch arguments override the selected YAML configuration. -->
  <group if="$(eval arg('bag_path') != '')">
    <param name="bag_path" value="$(arg bag_path)" />
  </group>
  <group if="$(eval arg('image_path') != '')">
    <param name="image_path" value="$(arg image_path)" />
  </group>
  <group if="$(eval arg('lidar_topic') != '')">
    <param name="lidar_topic" value="$(arg lidar_topic)" />
  </group>
  <group if="$(eval arg('lidar_forward_axis') != '')">
    <param name="lidar_forward_axis" value="$(arg lidar_forward_axis)" />
  </group>
  <group if="$(eval arg('lidar_up_axis') != '')">
    <param name="lidar_up_axis" value="$(arg lidar_up_axis)" />
  </group>
  <group if="$(eval arg('output_path') != '')">
    <param name="output_path" value="$(arg output_path)" />
  </group>
  <group if="$(eval arg('use_auto_lidar_roi') != '')">
    <param name="use_auto_lidar_roi" value="$(arg use_auto_lidar_roi)" />
  </group>

  <node pkg="fast_calib" type="fast_calib" name="fast_calib"
        output="screen" required="true" />

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
          args="-d $(find fast_calib)/rviz_cfg/fast_livo2.rviz" />
  </group>
</launch>
