<launch>
  <arg name="rviz" default="false" />
  <arg name="config_file" default="$(find fast_calib)/config/qr_params.yaml" />
  <arg name="output_path" default="" />

  <rosparam file="$(arg config_file)" command="load" subst_value="true" />

  <group if="$(eval arg('output_path') != '')">
    <param name="output_path" value="$(arg output_path)" />
  </group>

  <node pkg="fast_calib" type="multi_fast_calib" name="multi_fast_calib"
        output="screen" required="true" />

  <group if="$(arg rviz)">
    <node launch-prefix="nice" pkg="rviz" type="rviz" name="rviz"
          args="-d $(find fast_calib)/rviz_cfg/fast_livo2.rviz" />
  </group>
</launch>
